@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(94, 98, 130);
  line-height: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Plus Jakarta Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-block__label {
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(68, 117, 242);
  letter-spacing: 0.125rem;
  font-size: 1.125rem;
  line-height: 128%;
  /* 23/18 */
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

.header-block__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

._watcher-view .header-block__label {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.header-block__title {
  font-weight: 800;
  line-height: 135.4%;
  /* 65/48 */
  letter-spacing: 1%;
  color: #000;
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

._watcher-view .header-block__title {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button {
  font-weight: 700;
  line-height: 156.25%;
  /* 25/16 */
  -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(68, 117, 242, 0.25);
          box-shadow: 0 1.875rem 3.75rem 0 rgba(68, 117, 242, 0.25);
  background-color: rgb(68, 117, 242);
  color: #fff;
  border-radius: 0.625rem;
  padding: 1.0625rem 3.375rem;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.header {
  z-index: 50;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.8125rem;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  z-index: 2;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.3125rem;
}

.menu__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 128.571429%;
  /* 18/14 */
  color: rgb(154, 158, 166);
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-shadow: 0 0 0.0625rem #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  max-width: 15.5rem;
}

.footer__title {
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 1.5625rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.8125rem;
  font-weight: 500;
  color: #000;
  font-size: 1.25rem;
  line-height: 125%;
  /* 25/20 */
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__copy {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 128.571429%;
  /* 18/14 */
  color: #fff;
  background-color: rgb(68, 117, 242);
}

.social {
  height: 5.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.hero {
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.hero__container::before,
.hero__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgb(68, 117, 242);
  height: 150%;
  width: 100vw;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

.hero__container::before {
  content: "";
  left: calc(50% + 1.875rem);
  -webkit-transform: skew(-30deg);
      -ms-transform: skew(-30deg);
          transform: skew(-30deg);
}

.hero__container::after {
  content: "";
  left: calc(50% + 27.75rem);
  -webkit-transform: skew(31deg);
      -ms-transform: skew(31deg);
          transform: skew(31deg);
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}

.hero__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}

.content-hero__title {
  font-weight: 800;
  color: rgb(24, 30, 75);
  line-height: 117.105263%;
  /* 89/76 */
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

._watcher-view .content-hero__title {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.content-hero__title span {
  white-space: nowrap;
  color: rgb(68, 117, 242);
  position: relative;
}

.content-hero__title span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(68, 117, 242);
}

.content-hero__text {
  line-height: 187.5%;
  /* 30/16 */
  text-shadow: 0 0 8px rgb(255, 255, 255);
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

._watcher-view .content-hero__text {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.content-hero__button {
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

._watcher-view .content-hero__button {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s 0.6s, background-color 0.3s, -webkit-transform 0.3s 0.6s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s 0.6s, background-color 0.3s, -webkit-transform 0.3s 0.6s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s 0.6s, transform 0.3s 0.6s, background-color 0.3s, box-shadow 0.3s;
  transition: opacity 0.3s 0.6s, transform 0.3s 0.6s, background-color 0.3s, box-shadow 0.3s, -webkit-transform 0.3s 0.6s, -webkit-box-shadow 0.3s;
}

.images-hero {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.6875rem;
     -moz-column-gap: 1.6875rem;
          column-gap: 1.6875rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.images-hero__item--01 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 0.625rem;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

._watcher-view .images-hero__item--01 {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.images-hero__item--02 {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

._watcher-view .images-hero__item--02 {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.images-hero__item--03 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-row: span 2;
  padding-bottom: 0.625rem;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

._watcher-view .images-hero__item--03 {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.images-hero__item--04 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

._watcher-view .images-hero__item--04 {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s 0.8s, -webkit-transform 0.3s 0.8s;
  transition: opacity 0.3s 0.8s, -webkit-transform 0.3s 0.8s;
  transition: opacity 0.3s 0.8s, transform 0.3s 0.8s;
  transition: opacity 0.3s 0.8s, transform 0.3s 0.8s, -webkit-transform 0.3s 0.8s;
}

.images-hero__item img {
  border-radius: 0.625rem;
  max-width: 100%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.features__items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 17.9375rem;
}

.features__icon {
  border-radius: 1.625rem;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
  background-color: rgb(68, 117, 242);
  width: 6.375rem;
  height: 6.375rem;
  background-size: 2.8125rem;
  background-position: center;
  background-repeat: no-repeat;
}

.features__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}

.features__icon--01 {
  background-image: url("../img/icons/search.svg");
}

.features__icon--02 {
  background-image: url("../img/icons/review.svg");
}

.features__icon--03 {
  background-image: url("../img/icons/favorite.svg");
}

.features__title {
  font-weight: 700;
  color: #000;
  font-family: Plus Jakarta Sans;
  font-size: 1.5rem;
  line-height: 125%;
  /* 30/24 */
  letter-spacing: 0.125rem;
  text-align: center;
}

.features__text {
  font-weight: 500;
  letter-spacing: 0.125rem;
  line-height: 187.5%;
  /* 30/16 */
  text-align: center;
}

.services__items {
  display: -ms-grid;
  display: grid;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.services__title {
  font-weight: 600;
  color: #000;
  line-height: 125%;
  /* 40/32 */
  text-align: left;
}

.services__title span {
  color: rgb(68, 117, 242);
}

.services__text p {
  line-height: 187.5%;
  /* 30/16 */
  letter-spacing: 0.125rem;
}

.services__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.services__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.services__image img {
  max-width: 100%;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
}

.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.125rem;
          flex: 1 1 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 3.5625rem 2.875rem 3.5625rem;
  border: 1px solid rgb(222, 222, 222);
  -webkit-box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}

.reviews__avatar {
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__avatar:not(:last-child) {
  margin-bottom: 1.875rem;
}

.reviews__text {
  text-align: center;
  font-weight: 500;
  line-height: 187.5%;
  /* 30/16 */
  letter-spacing: 0.2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reviews__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.reviews__name {
  font-weight: 500;
  color: rgb(35, 166, 240);
  line-height: 187.5%;
  /* 30/16 */
}

.reviews__name:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.reviews__position {
  font-weight: 500;
  line-height: 187.5%;
  /* 30/16 */
}

.location__map {
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
          transform: translateY(3.125rem);
}

.location__map._watcher-view {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 47.99875em) {
  .content-hero__title {
    letter-spacing: -0.25rem;
  }
}

@media (min-width: 76.875em) {
  .header-block:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .header-block__title {
    font-size: 3rem;
  }

  .header {
    padding-top: 4.8125rem;
  }

  .footer__container {
    gap: 6.25rem;
  }

  .footer__container {
    margin-bottom: 5.8125rem;
  }

  .footer__copy {
    padding-top: 3.1875rem;
  }

  .footer__copy {
    padding-bottom: 3.1875rem;
  }

  .hero {
    padding-top: 3.875rem;
  }

  .hero {
    padding-bottom: 2.5rem;
  }

  .hero:not(:last-child) {
    margin-bottom: 10.625rem;
  }

  .content-hero__title {
    font-size: 4.75rem;
  }

  .content-hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-hero__title span::before {
    height: 0.5rem;
  }

  .content-hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .features {
    margin-bottom: 12.5rem;
  }

  .features__title:not(:last-child) {
    margin-bottom: 1.8125rem;
  }

  .services {
    margin-bottom: 12.5rem;
  }

  .services__items {
    gap: 8.75rem;
  }

  .services__item {
    gap: 7.8125rem;
  }

  .services__title {
    font-size: 2rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .reviews {
    margin-bottom: 12.5rem;
  }

  .reviews__items {
    gap: 3.125rem;
  }

  .location {
    margin-bottom: 12.5rem;
  }

  .location__map {
    height: 25.3125rem;
  }
}

@media (max-width: 75em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-hero__title span {
    text-shadow: 0 0 8px rgb(255, 255, 255);
  }

  .images-hero {
    gap: 0.9375rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 20em) {
  .header-block:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .header-block__title {
    font-size: 2rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .footer__container {
    gap: 1.25rem;
  }

  .footer__container {
    margin-bottom: 1.875rem;
  }

  .footer__copy {
    padding-top: 1.25rem;
  }

  .footer__copy {
    padding-bottom: 1.25rem;
  }

  .hero {
    padding-top: 1.875rem;
  }

  .hero {
    padding-bottom: 1.875rem;
  }

  .hero:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-hero__title {
    font-size: 2rem;
  }

  .content-hero__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-hero__title span::before {
    height: 0.1875rem;
  }

  .content-hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .features {
    margin-bottom: 1.875rem;
  }

  .features__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services {
    margin-bottom: 1.875rem;
  }

  .services__items {
    gap: 1.875rem;
  }

  .services__title {
    font-size: 1.5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .reviews {
    margin-bottom: 1.875rem;
  }

  .reviews__items {
    gap: 1.25rem;
  }

  .location {
    margin-bottom: 2.5rem;
  }

  .location__map {
    height: 15.625rem;
  }
}

@media (max-width: 61.99875em) {
  .services__item {
    gap: 1.875rem;
  }

  .reviews__item {
    padding: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5.625rem 0.9375rem 0.9375rem 1.875rem;
    background-color: rgb(68, 117, 242);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    background-color: #fff;
    top: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: rgb(68, 117, 242);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.5rem;
    color: #fff;
  }

  .content-hero__button {
    text-align: center;
    width: 100%;
  }

  .features__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 5.625rem;
  }

  .menu__body::before {
    height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .features__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .features__icon {
    width: 5rem;
    height: 5rem;
    background-size: 2.1875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .menu__body {
    padding-top: 11.25rem;
  }

  .menu__body::before {
    height: 10.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 5.625rem , 3.646978022rem  +  9.8901098901vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 5.625rem , 3.646978022rem  +  9.8901098901vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.646978022rem  +  9.8901098901vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(5.625rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 5rem , 3.021978022rem  +  9.8901098901vw , 10.625rem )) {
    .menu__body::before {
      height: clamp( 5rem , 3.021978022rem  +  9.8901098901vw , 10.625rem );
    }
}

@supports not (height: clamp( 5rem , 3.021978022rem  +  9.8901098901vw , 10.625rem )) {
    .menu__body::before {
      height: calc(5rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
    .header-block:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
    .header-block:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem )) {
    .header-block__title {
      font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem )) {
    .header-block__title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.842032967rem  +  5.1648351648vw , 4.8125rem )) {
    .header {
      padding-top: clamp( 1.875rem , 0.842032967rem  +  5.1648351648vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.842032967rem  +  5.1648351648vw , 4.8125rem )) {
    .header {
      padding-top: calc(1.875rem + 2.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .footer__container {
      gap: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .footer__container {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.4903846154rem  +  6.9230769231vw , 5.8125rem )) {
    .footer__container {
      margin-bottom: clamp( 1.875rem , 0.4903846154rem  +  6.9230769231vw , 5.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.4903846154rem  +  6.9230769231vw , 5.8125rem )) {
    .footer__container {
      margin-bottom: calc(1.875rem + 3.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem )) {
    .footer__copy {
      padding-top: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem )) {
    .footer__copy {
      padding-top: calc(1.25rem + 1.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem )) {
    .footer__copy {
      padding-bottom: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5686813187rem  +  3.4065934066vw , 3.1875rem )) {
    .footer__copy {
      padding-bottom: calc(1.25rem + 1.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1717032967rem  +  3.5164835165vw , 3.875rem )) {
    .hero {
      padding-top: clamp( 1.875rem , 1.1717032967rem  +  3.5164835165vw , 3.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1717032967rem  +  3.5164835165vw , 3.875rem )) {
    .hero {
      padding-top: calc(1.875rem + 2 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .hero {
      padding-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .hero {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem )) {
    .hero:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem )) {
    .hero:not(:last-child) {
      margin-bottom: calc(1.875rem + 8.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.032967033rem  +  4.8351648352vw , 4.75rem )) {
    .content-hero__title {
      font-size: clamp( 2rem , 1.032967033rem  +  4.8351648352vw , 4.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.032967033rem  +  4.8351648352vw , 4.75rem )) {
    .content-hero__title {
      font-size: calc(2rem + 2.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 0.1875rem , 0.0776098901rem  +  0.5494505495vw , 0.5rem )) {
    .content-hero__title span::before {
      height: clamp( 0.1875rem , 0.0776098901rem  +  0.5494505495vw , 0.5rem );
    }
}

@supports not (height: clamp( 0.1875rem , 0.0776098901rem  +  0.5494505495vw , 0.5rem )) {
    .content-hero__title span::before {
      height: calc(0.1875rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .features {
      margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .features {
      margin-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0521978022rem  +  0.989010989vw , 1.8125rem )) {
    .features__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0521978022rem  +  0.989010989vw , 1.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0521978022rem  +  0.989010989vw , 1.8125rem )) {
    .features__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .services {
      margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .services {
      margin-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.875rem , -0.5425824176rem  +  12.0879120879vw , 8.75rem )) {
    .services__items {
      gap: clamp( 1.875rem , -0.5425824176rem  +  12.0879120879vw , 8.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , -0.5425824176rem  +  12.0879120879vw , 8.75rem )) {
    .services__items {
      gap: calc(1.875rem + 6.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem )) {
    .services__title {
      font-size: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem )) {
    .services__title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem )) {
    .services__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem )) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .reviews {
      margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .reviews {
      margin-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
    .reviews__items {
      gap: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
    .reviews__items {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem )) {
    .location {
      margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem )) {
    .location {
      margin-bottom: calc(2.5rem + 10 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 15.625rem , 12.2184065934rem  +  17.032967033vw , 25.3125rem )) {
    .location__map {
      height: clamp( 15.625rem , 12.2184065934rem  +  17.032967033vw , 25.3125rem );
    }
}

@supports not (height: clamp( 15.625rem , 12.2184065934rem  +  17.032967033vw , 25.3125rem )) {
    .location__map {
      height: calc(15.625rem + 9.6875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 76.875em) {
@supports (gap: clamp( 1.875rem , -22.8703207714rem  +  39.9126123855vw , 7.8125rem )) {
    .services__item {
      gap: clamp( 1.875rem , -22.8703207714rem  +  39.9126123855vw , 7.8125rem );
    }
}

@supports not (gap: clamp( 1.875rem , -22.8703207714rem  +  39.9126123855vw , 7.8125rem )) {
    .services__item {
      gap: calc(1.875rem + 5.9375 * (100vw - 61.99875rem) / 14.87625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(60, 103, 211);
    -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.5);
            box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.5);
  }

  .menu__link:hover {
    color: rgb(68, 117, 242);
  }

  .footer__link:hover {
    color: rgb(68, 117, 242);
  }

  .images-hero__item img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}